@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5db;
  color: #7069b9;
}

.button {
  display: block;
  border: 2px solid #7069b9;
  background: #f5f5db;
  color: #7069b9;
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-block: 0.6rem;
}

.pricing-panel {
  margin-inline: auto;
  width: 100%;
  max-width: 950px;
  background: #e1defd;
  padding: 3rem;
  border-radius: 1rem;
  margin-block: 2rem;
}

.pricing-panel-header {
  text-align: center;
}

.main-heading {
  font-size: 40px;
  font-weight: 500;
}

.sub-heading {
  font-size: 20px;
  padding-block: 1rem;
  font-weight: 300;
  width: 80%;
  display: inline-block;
}

.pricing-panel-main {
  padding-inline: 3rem;
  text-wrap: nowrap;
  padding-block: 2rem;
}

.wrapper {
  display: inline-block;
}

.pricing-item {
  box-sizing: inherit;
  display: inline-block;
  vertical-align: top;
  background-color: #f5f5db;
  border-radius: 1.4rem;
  padding-block: 2.6rem;
}

.pricing-item.darker {
  background-color: #7069b9;
  color: #fff;
}
.pricing-item.darker .pricing-info {
  color: #fff;
}

.pricing-name {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}

.pricing-image {
  display: block;
  width: 200px;
  height: 200px;
  padding-inline: 2rem;
  box-sizing: content-box;
}

.pricing-info {
  font-size: 1rem;
  color: #777;
  padding-block: 1rem;
  
}

.pricing-cost {
  display: inline-block;
  padding-block-end: 2rem;
}

.pricing-button {
  font-size: inherit;
  padding-inline: 5rem;
}

.spacer {
  display: inline-block;
  font-size: 4rem;
}

.footer-button {
  font-size: 1rem;
  border: none;
  padding-inline: 2rem;
  padding-block: 1rem;
  scale: 1.2;
}

.center-element {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
